<div id="mouseDiv">
  <h4 onmouseover='onMousePlace()'>Put Mouse Here</h4>
</div>

<%=  content_tag "div", id: "qHolder", data: {questions: @questions}  do  %>
    <br />
    <br />
    <br />
    <img id="image1" class="answer1" width="400" height="500">
    <img id="image2" class="answer2" width="400" height="500">
<% end %>