<h1>Listing experiments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiments.each do |experiment| %>
  <tr>
    <td><%= experiment.name %></td>
    <td><%= experiment.tag_list %></td>
    <td><%= link_to 'Show', experiment %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experiment', new_experiment_path %>
